7
genA3D:i,j,k
1
A3D:i,j,k:#TDIM#,#TDIM#,#BDIM#
genB3D:i,j,k
1
B3D:i,j,k:#TDIM#,#TDIM#,#BDIM#
genIn:i,j
1
In:i,j:#BDIM#,#MDIM#
FFT2DA:i,j,k#:fft
2
A3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
B3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
Lin3Dto2D:i,j,k#:lin
2
B3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
KER2D:i*j,k#:#MDIM#,#BDIM#
MM1:h,l,ij:gemm
3
In:h,ij:#BDIM#,#MDIM#
KER2D:ij,l:#MDIM#,#BDIM#
Out:h,l:#BDIM#,#BDIM#
Sink:i,j
1
Out:i,j:#BDIM#,#BDIM#
