5
genA2D:i,j
1
A2D:i,j:#TDIM#,#TDIM#
genB2D:i,j
1
B2D:i,j:#TDIM#,#TDIM#
FT2DA:i,j:fft
2
A2D:i,j:#TDIM#,#TDIM#
B2D:i,j:#TDIM#,#TDIM#
FT2DB:i,j:fft
2
B2D:i,j:#TDIM#,#TDIM#
C2D:i,j:#TDIM#,#TDIM#
Sink:i,j
1
C2D:i,j:#TDIM#,#TDIM#
