5
genA3D:i,j,k
1
A3D:i,j,k:#TDIM#,#TDIM#,#BDIM#
genB3D:i,j,k
1
B3D:i,j,k:#TDIM#,#TDIM#,#BDIM#
FFT3DA:i,j,k#:fft
2
A3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
B3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
Lin3Dto2D:i,j,k#:lin
2
B3D:i,j,k#:#TDIM#,#TDIM#,#BDIM#
KER2D:i*j,k#:#MDIM#,#BDIM#
Sink:i,j
1
KER2D:i,j:#MDIM#,#BDIM#
